.contactsBlock {
    background-color: #90b8d6;
}

.contactsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #88ddc1;
}

.contacts {
    width: 50%;
    background-color: #88ddc1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts input, .contacts textarea {
    width: 100%;
}
.button {
    padding: 10px 20px;
    background-color: antiquewhite;
}