.worksBlock {
    height: 100vh;
    background-color: #d0eca8;
}

.worksContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    background-color: #778d55;
}

.works {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}