@import './../common/styles/sass/variables';
@import './../common/styles/sass/mixins';

.aBoutContainer {
  background-color: $bgColor;
  width: 100%;
  min-height: 60vh;
  padding-top: 100px;
  padding-bottom: 100px;


  .container {
    @include container();
    @include flex(column, flex-start, stretch, nowrap);

    @media screen and (max-width: 1040px) {
      padding-top: 180px;
      min-height: auto;
    }

    .textBlock {
      padding-top: 40px;
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      @media screen and (max-width: 1040px) {
        flex-direction: column;
        align-items: baseline;
      }

      .left {
        width: 40%;
        @media screen and (max-width: 1040px) {
          width: 100%;
          margin-bottom: 50px;
        }

        img {
          min-width: 10%;
          border-radius: 5px;
          max-width: 400px;
          @media screen and (max-width: 1040px) {
            width: 80%;
            padding-left: 30px;

          }
        }
      }

      .right {
        width: 60%;
        padding-left: 100px;
        @media screen and (max-width: 1040px) {
          width: 100%;
          padding-left: 0;
        }

        .name {
          width: 100%;
          border-bottom: 1px solid rgba(0, 0, 0, .2);
          padding-bottom: 35px;
          margin-bottom: 32px;

          .jobTitle {
            @include text(montserrat, 15px, 2.1, 600);
            letter-spacing: .8px;
            display: inline-block;
            padding-top: 10px;
            color: $textColor;
            @media screen and (max-width: 1040px) {
              padding-left: 30%;
            }
          }
        }

        .text {
          width: 96%;
          margin-bottom: 19px;
          color: $textColor;
        }

        .download {
          @include text(mulish, 19px, 2.1, 400);
          text-decoration: none;
          background-color: $primaryColor;
          padding: 13px 50px;
          display: inline-block;
          border-radius: 50px;
          border: 2px solid $primaryColor;

          &:hover {
            opacity: 0.7;
          }

          &:active {
            opacity: 0.9;
          }
        }
      }
    }
  }
}