.mainBlock {
    height: 100vh;
    background-color: #fae3e3;
}

.text {
    width: 300px;
    background-color: #d7c8c8;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #d7c8c8;
}
