@import '../styles/sass/variables';
.title {
    margin:0px;
    position: relative;
    h2 {
        margin:0 0 30px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 300;
        color:$textColor;
        text-transform: capitalize;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: 5px;
        text-align: center;
    }
    &::before{
        content: '';
        position: absolute;
        background:$primaryColor;
        width: 55px;
        height: 1px;
        bottom: 10px;
        left: 50%;
        transform: translate(-50%,50%);
    }
}

